In [2]:
import pandas as pd

In [3]:
book_data = {
    "book_id": [201, 202, 203, 204, 205],
    "title": ["Python for Beginners", "Data Science with Python", "Advanced Python Programming", "Learning SQL", "Python for Data Analysis"],
    "author": ["John Doe", "Jane Smith", "John Doe", "Alice Johnson", "Jane Smith"],
    "price": [250, 300, 150, 180, 280],
    "copies_sold": [150, 200, 100, 90, 300]
}

df = pd.DataFrame(book_data)
print(df)

   book_id                        title         author  price  copies_sold
0      201         Python for Beginners       John Doe    250          150
1      202     Data Science with Python     Jane Smith    300          200
2      203  Advanced Python Programming       John Doe    150          100
3      204                 Learning SQL  Alice Johnson    180           90
4      205     Python for Data Analysis     Jane Smith    280          300

# ***1.***

***Книги, ціна яких більше ніж 200.***

In [4]:
books_more_200 = df[df["price"] > 200]
books_more_200

   book_id                     title      author  price  copies_sold
0      201      Python for Beginners    John Doe    250          150
1      202  Data Science with Python  Jane Smith    300          200
4      205  Python for Data Analysis  Jane Smith    280          300

# ***2.***


***Книги, ціна яких не перевищує 200, а кількість проданих копій більше або дорівнює 100. Окремо знайди кількість таких книг.***

In [6]:
books_more_200_copy_100 = df[(df["price"] <= 200) & (df["copies_sold"] >= 100)]
books_more_200_copy_100

   book_id                        title    author  price  copies_sold
2      203  Advanced Python Programming  John Doe    150          100

In [8]:
print("кількість таких книг:", len(books_more_200_copy_100))

кількість таких книг: 1

# ***3.***


***Книги, написані John Doe та Jane Smith.***

In [15]:
books_author = df[df["author"].isin(["ohn Doe", "Jane Smith"])]
books_author

   book_id                     title      author  price  copies_sold
1      202  Data Science with Python  Jane Smith    300          200
4      205  Python for Data Analysis  Jane Smith    280          300

# ***4.***

***Книги, у назві яких є слово "Python".***

In [16]:
books_python = df[df["title"].str.contains("Python")]
books_python

   book_id                        title      author  price  copies_sold
0      201         Python for Beginners    John Doe    250          150
1      202     Data Science with Python  Jane Smith    300          200
2      203  Advanced Python Programming    John Doe    150          100
4      205     Python for Data Analysis  Jane Smith    280          300