<a href="https://colab.research.google.com/github/MariiaSam/data_science/blob/main/Wikipedia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
import numpy as np
import seaborn as sns

# Зчитуємо дані з вказаного URL
url = "https://uk.wikipedia.org/wiki/%D0%A1%D0%B5%D1%80%D0%B5%D0%B4%D0%BD%D1%8F_%D0%B7%D0%B0%D1%80%D0%BE%D0%B1%D1%96%D1%82%D0%BD%D0%B0_%D0%BF%D0%BB%D0%B0%D1%82%D0%B0_%D0%B2_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%96"

# Зчитуємо таблицю в DataFrame
df = pd.read_html(url, header=0)[2]  # Обираємо другий елемент списку, де знаходиться таблиця

df.head()

,Рік,В національній валюті,В доларах США,Кількість кг хліба[20] на середню зарплату,Кількість БігМаків на середню зарплату
0,1992,"5832,88▲","28,04▼","1015,67▲",—
1,1993,163533▲,"36,03▲","430,42▼",—
2,1994,1426343▲,"44,99▲","372,76▼",—
3,1995,7304000▲,"49,53▲","201,76▼",—
4,1996,"125,23▼","68,45▲","198,62▼",—

In [5]:
#Підготовка і аналіз даних
# Визначаємо загальну кількість років та місяців у даних
num_years = len(df['Рік']) - 1  # віднімання 1, оскільки перший стовпець - назва

print("Загальна кількість років =", num_years)

Загальна кількість років = 31

In [ ]:
#Визначити кількість рядків і стовпчиків

num_rows, num_columns = df.shape
print(f"Кількість рядків: {num_rows}, Кількість стовпчиків: {num_columns}")

Кількість рядків: 32, Кількість стовпчиків: 5

In [6]:
df.shape

(32, 5)

In [ ]:
#Визначити тип даних
df.dtypes

Рік                                            int64
В національній валюті                         object
В доларах США                                 object
Кількість кг хліба[20] на середню зарплату    object
Кількість БігМаків на середню зарплату        object
dtype: object

In [7]:
#Замінити в таблиці "—" на значення  NaN
#Також заміню назви стовпців на зручні
df = df.rename(columns={
    "Рік": "Year",
    "В національній валюті": "Salary in UAH",
    "В доларах США": "Salary in USD",
    "Кількість кг хліба[20] на середню зарплату": "Bread per Salary",
    "Кількість БігМаків на середню зарплату": "BigMacs per Salary"
})
df.replace(["—", "н.д."], np.nan, inplace = True)
df

    Year Salary in UAH Salary in USD Bread per Salary BigMacs per Salary
0   1992      5832,88▲        28,04▼         1015,67▲                NaN
1   1993       163533▲        36,03▲          430,42▼                NaN
2   1994      1426343▲        44,99▲          372,76▼                NaN
3   1995      7304000▲        49,53▲          201,76▼                NaN
4   1996       125,23▼        68,45▲          198,62▼                NaN
5   1997       143,09▲        76,86▲          211,13▲             20[21]
6   1998       152,83▲        62,39▼          177,69▼                NaN
7   1999       177,39▲        42,95▼          180,68▲            24▲[22]
8   2000       231,04▲        42,47▼          117,51▼                NaN
9   2001       311,62▲        58,01▲          153,57▲            50▲[23]
10  2002       375,98▲        70,59▲          213,84▲                NaN
11  2003       462,58▲        86,74▲          276,27▲                NaN
12  2004       590,53▲       111,02▲          276,06▼                81▲
13  2005       806,14▲       157,30▲          332,05▲               111▲
14  2006      1042,88▲       206,51▲          441,28▲               123▲
15  2007      1352,75▲       267,87▲          498,66▲               146▲
16  2008      1808,92▲       343,43▲          585,00▲               164▲
17  2009      1909,25▲       245,05▼          497,02▼               136▼
18  2010      2246,75▲       283,12▲          527,82▲               155▲
19  2011      2639,17▲       331,24▲          564,37▲               160▲
20  2012      3031,92▲       379,42▲          585,38▲               202▲
21  2013      3273,82▲       409,59▲          625,00▲               172▼
22  2014      3474,75▲       292,32▼          642,39▲               182▲
23  2015      4207,33▲       162,60▼          517,22▼               124▼
24  2016      5187,33▲       203,02▲          441,05▼               133▲
25  2017      7105,42▲       267,16▲          450,35▲               161▲
26  2018      8867,33▲       325,99▲          497,05▲               177▲
27  2019     10503,75▲       406,40▲          528,09▲               184▲
28  2020     11596,60▲       430,21▲          549,08▲               187▲
29  2021     14017,80▲       514,41▲          560,03▲               216▲
30  2022   14857 ▲[24]  371,00 ▼[25]         479,00 ▼                NaN
31  2023   17442▲ [26]          477▲          471,00▲                156

In [8]:
# Прибрати символи '▲' та '▼' у всіх стовпцях
df = df.replace({'▲': '', '▼': ''}, regex=True)
df

    Year Salary in UAH Salary in USD Bread per Salary BigMacs per Salary
0   1992       5832,88         28,04          1015,67                NaN
1   1993        163533         36,03           430,42                NaN
2   1994       1426343         44,99           372,76                NaN
3   1995       7304000         49,53           201,76                NaN
4   1996        125,23         68,45           198,62                NaN
5   1997        143,09         76,86           211,13             20[21]
6   1998        152,83         62,39           177,69                NaN
7   1999        177,39         42,95           180,68             24[22]
8   2000        231,04         42,47           117,51                NaN
9   2001        311,62         58,01           153,57             50[23]
10  2002        375,98         70,59           213,84                NaN
11  2003        462,58         86,74           276,27                NaN
12  2004        590,53        111,02           276,06                 81
13  2005        806,14        157,30           332,05                111
14  2006       1042,88        206,51           441,28                123
15  2007       1352,75        267,87           498,66                146
16  2008       1808,92        343,43           585,00                164
17  2009       1909,25        245,05           497,02                136
18  2010       2246,75        283,12           527,82                155
19  2011       2639,17        331,24           564,37                160
20  2012       3031,92        379,42           585,38                202
21  2013       3273,82        409,59           625,00                172
22  2014       3474,75        292,32           642,39                182
23  2015       4207,33        162,60           517,22                124
24  2016       5187,33        203,02           441,05                133
25  2017       7105,42        267,16           450,35                161
26  2018       8867,33        325,99           497,05                177
27  2019      10503,75        406,40           528,09                184
28  2020      11596,60        430,21           549,08                187
29  2021      14017,80        514,41           560,03                216
30  2022    14857 [24]   371,00 [25]          479,00                 NaN
31  2023    17442 [26]           477           471,00                156

In [9]:
#Прибрати текст у квадратних дужках  всіх стовпцях
#Використання регулярного виразу r'\[.*?\]' вказує на пошук будь-якого тексту,
#що знаходиться між квадратними дужками [ ].
df = df.replace(r'\[.*?\]', '', regex=True)
df

    Year Salary in UAH Salary in USD Bread per Salary BigMacs per Salary
0   1992       5832,88         28,04          1015,67                NaN
1   1993        163533         36,03           430,42                NaN
2   1994       1426343         44,99           372,76                NaN
3   1995       7304000         49,53           201,76                NaN
4   1996        125,23         68,45           198,62                NaN
5   1997        143,09         76,86           211,13                 20
6   1998        152,83         62,39           177,69                NaN
7   1999        177,39         42,95           180,68                 24
8   2000        231,04         42,47           117,51                NaN
9   2001        311,62         58,01           153,57                 50
10  2002        375,98         70,59           213,84                NaN
11  2003        462,58         86,74           276,27                NaN
12  2004        590,53        111,02           276,06                 81
13  2005        806,14        157,30           332,05                111
14  2006       1042,88        206,51           441,28                123
15  2007       1352,75        267,87           498,66                146
16  2008       1808,92        343,43           585,00                164
17  2009       1909,25        245,05           497,02                136
18  2010       2246,75        283,12           527,82                155
19  2011       2639,17        331,24           564,37                160
20  2012       3031,92        379,42           585,38                202
21  2013       3273,82        409,59           625,00                172
22  2014       3474,75        292,32           642,39                182
23  2015       4207,33        162,60           517,22                124
24  2016       5187,33        203,02           441,05                133
25  2017       7105,42        267,16           450,35                161
26  2018       8867,33        325,99           497,05                177
27  2019      10503,75        406,40           528,09                184
28  2020      11596,60        430,21           549,08                187
29  2021      14017,80        514,41           560,03                216
30  2022        14857        371,00           479,00                 NaN
31  2023        17442            477           471,00                156

In [10]:
df.dtypes

Year                   int64
Salary in UAH         object
Salary in USD         object
Bread per Salary      object
BigMacs per Salary    object
dtype: object

In [ ]:
# Заміна ком на крапки та перетворення на числовий тип для всіх стовпців
df = df.replace(',', '.', regex=True).astype(float)

# Заповнення NaN середнім значенням стовпця
df.fillna(df.mean(), inplace=True)

df.head(10)

     Year  Salary in UAH  Salary in USD  Bread per Salary  BigMacs per Salary
0  1992.0        5832.88          28.04           1015.67          139.272727
1  1993.0      163533.00          36.03            430.42          139.272727
2  1994.0     1426343.00          44.99            372.76          139.272727
3  1995.0     7304000.00          49.53            201.76          139.272727
4  1996.0         125.23          68.45            198.62          139.272727
5  1997.0         143.09          76.86            211.13           20.000000
6  1998.0         152.83          62.39            177.69          139.272727
7  1999.0         177.39          42.95            180.68           24.000000
8  2000.0         231.04          42.47            117.51          139.272727
9  2001.0         311.62          58.01            153.57           50.000000

In [11]:
#Ще раз перевіримо тип стовпців
df.dtypes

Year                   int64
Salary in UAH         object
Salary in USD         object
Bread per Salary      object
BigMacs per Salary    object
dtype: object

In [12]:
#Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)
df.isnull().sum() / len(df)

Year                  0.0000
Salary in UAH         0.0000
Salary in USD         0.0000
Bread per Salary      0.0000
BigMacs per Salary    0.3125
dtype: float64

In [ ]:
df.describe()

,Year,Salary in UAH,Salary in USD,Bread per Salary,BigMacs per Salary
count,32.000000,3.200000e+01,32.000000,32.000000,32.000000
mean,2007.500000,2.818016e+05,214.115937,425.556875,139.272727
std,9.380832,1.305937e+06,151.907302,190.788939,44.261818
min,1992.000000,1.252300e+02,28.040000,117.510000,20.000000
25%,1999.750000,5.585425e+02,66.935000,260.505000,135.250000
50%,2007.500000,2.835545e+03,204.765000,460.675000,139.272727
75%,2015.250000,9.276435e+03,334.287500,533.337500,161.750000
max,2023.000000,7.304000e+06,514.410000,1015.670000,216.000000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                32 non-null     int64
 1   Salary in UAH       32 non-null     object
 2   Salary in USD       32 non-null     object
 3   Bread per Salary    32 non-null     object
 4   BigMacs per Salary  22 non-null     object
dtypes: int64(1), object(4)
memory usage: 1.4+ KB

In [14]:
# кореляції
df.corr()

ValueError: could not convert string to float: '5832,88'

In [15]:
sns.heatmap(df.corr())

ValueError: could not convert string to float: '5832,88'

In [ ]:
#Дані підготовлені, можна виконувати завдання.
#Завдання. Для років від 2000 вивести саме ті роки, саме ті роки, коли зп була більше 4000 грн і менше 7000 грн
years = df[(df['Year'] >= 2000) & (df['Salary in UAH'] > 4000) & (df['Salary in UAH'] < 7000)]
print(years)

      Year  Salary in UAH  Salary in USD  Bread per Salary  BigMacs per Salary
23  2015.0        4207.33         162.60            517.22               124.0
24  2016.0        5187.33         203.02            441.05               133.0

In [ ]:
# Видаліть  останній рядок
df = df.iloc[:-1]
df.tail(3)

      Year  Salary in UAH  Salary in USD  Bread per Salary  BigMacs per Salary
28  2020.0        11596.6         430.21            549.08          187.000000
29  2021.0        14017.8         514.41            560.03          216.000000
30  2022.0        14857.0         371.00            479.00          139.272727

In [ ]:

#Відфільтрувати дані за зростанням у стовпці та вивести перший, останній та третій рядки

# Сортуємо DataFrame за зростанням у відповідному стовпці
sorted_df = df.sort_values(by='Year')
sorted_df

      Year  Salary in UAH  Salary in USD  Bread per Salary  BigMacs per Salary
0   1992.0        5832.88          28.04           1015.67          139.272727
1   1993.0      163533.00          36.03            430.42          139.272727
2   1994.0     1426343.00          44.99            372.76          139.272727
3   1995.0     7304000.00          49.53            201.76          139.272727
4   1996.0         125.23          68.45            198.62          139.272727
5   1997.0         143.09          76.86            211.13           20.000000
6   1998.0         152.83          62.39            177.69          139.272727
7   1999.0         177.39          42.95            180.68           24.000000
8   2000.0         231.04          42.47            117.51          139.272727
9   2001.0         311.62          58.01            153.57           50.000000
10  2002.0         375.98          70.59            213.84          139.272727
11  2003.0         462.58          86.74            276.27          139.272727
12  2004.0         590.53         111.02            276.06           81.000000
13  2005.0         806.14         157.30            332.05          111.000000
14  2006.0        1042.88         206.51            441.28          123.000000
15  2007.0        1352.75         267.87            498.66          146.000000
16  2008.0        1808.92         343.43            585.00          164.000000
17  2009.0        1909.25         245.05            497.02          136.000000
18  2010.0        2246.75         283.12            527.82          155.000000
19  2011.0        2639.17         331.24            564.37          160.000000
20  2012.0        3031.92         379.42            585.38          202.000000
21  2013.0        3273.82         409.59            625.00          172.000000
22  2014.0        3474.75         292.32            642.39          182.000000
23  2015.0        4207.33         162.60            517.22          124.000000
24  2016.0        5187.33         203.02            441.05          133.000000
25  2017.0        7105.42         267.16            450.35          161.000000
26  2018.0        8867.33         325.99            497.05          177.000000
27  2019.0       10503.75         406.40            528.09          184.000000
28  2020.0       11596.60         430.21            549.08          187.000000
29  2021.0       14017.80         514.41            560.03          216.000000
30  2022.0       14857.00         371.00            479.00          139.272727

In [ ]:
# Вибираємо перший, останній і третій рядки
first_row = sorted_df.iloc[0]
last_row = sorted_df.iloc[-1]
third_row = sorted_df.iloc[2]

# Виводимо результат
print("Перший рядок:")
print(first_row)
print("\nОстанній рядок:")
print(last_row)
print("\nТретій рядок:")
print(third_row)

Перший рядок:
Year                  1992.000000
Salary in UAH         5832.880000
Salary in USD           28.040000
Bread per Salary      1015.670000
BigMacs per Salary     139.272727
Name: 0, dtype: float64

Останній рядок:
Year                   2022.000000
Salary in UAH         14857.000000
Salary in USD           371.000000
Bread per Salary        479.000000
BigMacs per Salary      139.272727
Name: 30, dtype: float64

Третій рядок:
Year                  1.994000e+03
Salary in UAH         1.426343e+06
Salary in USD         4.499000e+01
Bread per Salary      3.727600e+02
BigMacs per Salary    1.392727e+02
Name: 2, dtype: float64

In [ ]:
# Видаляємо два останні стовпчики
df = df.drop(df.columns[-2:], axis=1)
df

      Year  Salary in UAH  Salary in USD
0   1992.0        5832.88          28.04
1   1993.0      163533.00          36.03
2   1994.0     1426343.00          44.99
3   1995.0     7304000.00          49.53
4   1996.0         125.23          68.45
5   1997.0         143.09          76.86
6   1998.0         152.83          62.39
7   1999.0         177.39          42.95
8   2000.0         231.04          42.47
9   2001.0         311.62          58.01
10  2002.0         375.98          70.59
11  2003.0         462.58          86.74
12  2004.0         590.53         111.02
13  2005.0         806.14         157.30
14  2006.0        1042.88         206.51
15  2007.0        1352.75         267.87
16  2008.0        1808.92         343.43
17  2009.0        1909.25         245.05
18  2010.0        2246.75         283.12
19  2011.0        2639.17         331.24
20  2012.0        3031.92         379.42
21  2013.0        3273.82         409.59
22  2014.0        3474.75         292.32
23  2015.0        4207.33         162.60
24  2016.0        5187.33         203.02
25  2017.0        7105.42         267.16
26  2018.0        8867.33         325.99
27  2019.0       10503.75         406.40
28  2020.0       11596.60         430.21
29  2021.0       14017.80         514.41
30  2022.0       14857.00         371.00

In [ ]:
#Завдання. Створити нову таблицю, що містить мін, макс зп
# Обчислення максимальних та мінімальних значень
max_values = _.max()
min_values =_.min()

# Створення нового DataFrame з максимальними та мінімальними значеннями
new_df = pd.DataFrame({
    "max": max_values,
    "min": min_values
})

new_df

                           max      min
Year                   2022.00  1992.00
Salary in UAH       7304000.00   125.23
Salary in USD           514.41    28.04
Bread per Salary       1015.67   117.51
BigMacs per Salary      216.00    20.00

Завдання 2. Аналіз даних

In [ ]:
#!pip install pandas

In [ ]:
import pandas as pd

# Завантажимо таблицю з Вікіпедії
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)'

tables = pd.read_html(url)
df = tables[2]  # Таблиця, що містить дані про ВВП

# Відображення перших рядків таблиці для перевірки
df.head()

  Country/Territory IMF[1][13]            World Bank[14]             \
  Country/Territory   Forecast       Year       Estimate       Year
0             World  109529216       2024      105435540       2023
1     United States   28781083       2024       27360935       2023
2             China   18532633  [n 1]2024       17794782  [n 3]2023
3           Germany    4591100       2024        4456081       2023
4             Japan    4110452       2024        4212945       2023

  United Nations[15]
            Estimate       Year
0          100834796       2022
1           25744100       2022
2           17963170  [n 1]2022
3            4076923       2022
4            4232173       2022

In [ ]:
df.columns

MultiIndex([( 'Country/Territory', 'Country/Territory'),
            (        'IMF[1][13]',          'Forecast'),
            (        'IMF[1][13]',              'Year'),
            (    'World Bank[14]',          'Estimate'),
            (    'World Bank[14]',              'Year'),
            ('United Nations[15]',          'Estimate'),
            ('United Nations[15]',              'Year')],
           )

In [ ]:
# Зручні назви стовпців
new_columns = [
    'Country',
    'IMF_Forecast',
    'IMF_Year',
    'WorldBank_Estimate',
    'WorldBank_Year',
    'UN_Estimate',
    'UN_Year'
]

# Перетворимо MultiIndex на однорівневий індекс з новими назвами
df.columns = new_columns

# Відобразимо перші кілька рядків для перевірки
df.head()

,Country,IMF_Forecast,IMF_Year,WorldBank_Estimate,WorldBank_Year,UN_Estimate,UN_Year
0,World,109529216,2024,105435540,2023,100834796,2022
1,United States,28781083,2024,27360935,2023,25744100,2022
2,China,18532633,[n 1]2024,17794782,[n 3]2023,17963170,[n 1]2022
3,Germany,4591100,2024,4456081,2023,4076923,2022
4,Japan,4110452,2024,4212945,2023,4232173,2022

In [ ]:
# Виберемо необхідні стовпці та надамо їм нові назви
selected_columns = {
    'IMF_Forecast': 'MVF_2024',
    'WorldBank_Estimate': 'WorldBank_2023',
    'UN_Estimate': 'OON_2022'
}

df1 = df[['Country'] + list(selected_columns.keys())]

#df1.drop(['IMF_Year', 'WorldBank_Year', 'UN_Year'], axis=1) #альтернатива, видаляємо стовпці

# Перейменуємо стовпці
df = df1.rename(columns=selected_columns)

# Відобразимо перші кілька рядків для перевірки
df.head()

         Country   MVF_2024 WorldBank_2023   OON_2022
0          World  109529216      105435540  100834796
1  United States   28781083       27360935   25744100
2          China   18532633       17794782   17963170
3        Germany    4591100        4456081    4076923
4          Japan    4110452        4212945    4232173

In [ ]:
# Виведемо розмір датасета
df.shape

(210, 4)

In [ ]:
# Перевіримо наявність відсутніх значень у кожному стовпці
df.isnull().sum()

Country           0
MVF_2024          0
WorldBank_2023    0
OON_2022          0
dtype: int64

In [ ]:
# Виведемо типи даних кожного стовпця
print("\nТипи даних кожного стовпця:\n", df.dtypes)

Типи даних кожного стовпця:
 Country           object
MVF_2024          object
WorldBank_2023    object
OON_2022          object
dtype: object

In [ ]:
# Замінити всі неперетворювані значення на NaN
df.replace('—', float('nan'), inplace=True)

# Переведемо стовпці у тип float
df['MVF_2024'] = pd.to_numeric(df['MVF_2024'], errors='coerce')
df['WorldBank_2023'] = pd.to_numeric(df['WorldBank_2023'], errors='coerce')
df['OON_2022'] = pd.to_numeric(df['OON_2022'], errors='coerce')

# Виведемо типи даних після конвертації
print("\nТипи даних після конвертації:\n", df.dtypes)

# Відобразимо перші кілька рядків для перевірки
df.head(10)

Типи даних після конвертації:
 Country            object
MVF_2024          float64
WorldBank_2023    float64
OON_2022          float64
dtype: object

          Country     MVF_2024  WorldBank_2023     OON_2022
0           World  109529216.0     105435540.0  100834796.0
1   United States   28781083.0      27360935.0   25744100.0
2           China   18532633.0      17794782.0   17963170.0
3         Germany    4591100.0       4456081.0    4076923.0
4           Japan    4110452.0       4212945.0    4232173.0
5           India    3937011.0       3549919.0    3465541.0
6  United Kingdom    3495261.0       3340032.0    3089072.0
7          France    3130014.0       3030904.0    2775316.0
8          Brazil    2331391.0       2173666.0    1920095.0
9           Italy    2328028.0       2254851.0    2046952.0

In [ ]:
# Перевіримо наявність відсутніх значень у кожному стовпці
df.isnull().sum()

Country            0
MVF_2024          15
WorldBank_2023     8
OON_2022           1
dtype: int64

In [ ]:
import numpy as np

#Замініть у таблиці значення "—" на значення NaN
df = df.replace({'—': np.NaN})
#Замініть відсутні дані в стовпцях середніми значеннями цих стовпців (метод fillna)
df =  df.drop([0], axis=0)

df = df.fillna(df.mean(numeric_only=True))
df.head(5)

         Country    MVF_2024  WorldBank_2023    OON_2022
1  United States  28781083.0      27360935.0  25744100.0
2          China  18532633.0      17794782.0  17963170.0
3        Germany   4591100.0       4456081.0   4076923.0
4          Japan   4110452.0       4212945.0   4232173.0
5          India   3937011.0       3549919.0   3465541.0

In [ ]:
# Перевіримо наявність відсутніх значень у кожному стовпці
df.isnull().sum()

Country           0
MVF_2024          0
WorldBank_2023    0
OON_2022          0
dtype: int64