In [1]:
import pandas as pd
import numpy as np

# ***1.***

***Прочитай набір даних із CSV-файлу та виконай очищення даних — видали усі рядки, які містять символ "?" у будь-яких стовпцях.***

In [2]:
from google.colab import files
uploaded = files.upload()

Saving adult.csv to adult (2).csv

In [3]:
filename = list(uploaded.keys())[0]
df = pd.read_csv(filename)

df.head()

,Unnamed: 0,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
0,0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K,39
1,1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K,35
2,2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K,27
3,3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K,43
4,4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K,25

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      32561 non-null  int64
 1   age             32561 non-null  int64
 2   workclass       32561 non-null  object
 3   education       32561 non-null  object
 4   marital-status  32561 non-null  object
 5   occupation      32561 non-null  object
 6   relationship    32561 non-null  object
 7   race            32561 non-null  object
 8   sex             32561 non-null  object
 9   hours-per-week  32561 non-null  int64
 10  native-country  32561 non-null  object
 11  salary          32561 non-null  object
 12  salary K$       32561 non-null  int64
dtypes: int64(4), object(9)
memory usage: 3.2+ MB

***видали усі рядки, які містять символ "?" у будь-яких стовпцях***

In [5]:
df.isin(["?"]).sum()

Unnamed: 0           0
age                  0
workclass         1836
education            0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
hours-per-week       0
native-country     583
salary               0
salary K$            0
dtype: int64

In [6]:
df = df.drop(df[df.isin(["?"]).any(axis=1)].index)

In [7]:
df.isin(["?"]).sum()

Unnamed: 0        0
age               0
workclass         0
education         0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
hours-per-week    0
native-country    0
salary            0
salary K$         0
dtype: int64

***перевір коректність даних (зарплата та зарплата у $K).***

In [8]:
df["check_salary"] = ((df["salary"] == "<=50K") & (df["salary K$"] <=50)) | ((df["salary"] == ">50K") & (df["salary K$"] >50))
print(df[~df["check_salary"]])

Empty DataFrame
Columns: [Unnamed: 0, age, workclass, education, marital-status, occupation, relationship, race, sex, hours-per-week, native-country, salary, salary K$, check_salary]
Index: []

# ***2.***

***Виведи на екран кількість чоловіків і жінок у наборі даних.***

In [9]:
sex_counts = df['sex'].value_counts()
print(sex_counts)

sex
Male      20380
Female     9782
Name: count, dtype: int64

# ***3.***

***Знайди середній вік чоловіків у наборі даних.***

In [10]:
average_age_of_man = df[df["sex"] == "Male"]["age"].mean()
print("середній вік чоловіків у наборі даних –", int(average_age_of_man), "років")

середній вік чоловіків у наборі даних – 39 років

# ***4.***

***Отримай відсоток людей з Польщі (native-country).***

In [11]:
poland = len(df[df["native-country"]=="Poland"])
print(poland)

56

In [12]:
people = len(df["native-country"])
print(people)

30162

In [13]:
percent_of_poland = poland / people * 100
print("людей з Польщі -", round(percent_of_poland, 2), "%")

людей з Польщі - 0.19 %

# ***5.***

***Перевір, чи є люди без вищої освіти (освіта: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate), але із зарплатою > 50K.***

In [14]:
without_education = df[ (~df["education"].isin(["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"])) & (df["salary K$"] > 50) ]
print(without_education)

       Unnamed: 0  age         workclass     education      marital-status  \
7               7   52  Self-emp-not-inc       HS-grad  Married-civ-spouse
10             10   37           Private  Some-college  Married-civ-spouse
55             55   43           Private  Some-college  Married-civ-spouse
67             67   53           Private       HS-grad  Married-civ-spouse
68             68   49      Self-emp-inc  Some-college  Married-civ-spouse
...           ...  ...               ...           ...                 ...
32462       32462   48      Self-emp-inc       HS-grad  Married-civ-spouse
32518       32518   57         Local-gov       HS-grad  Married-civ-spouse
32519       32519   46           Private  Some-college  Married-civ-spouse
32557       32557   40           Private       HS-grad  Married-civ-spouse
32560       32560   52      Self-emp-inc       HS-grad  Married-civ-spouse

              occupation relationship   race     sex  hours-per-week  \
7        Exec-managerial      Husband  White    Male              45
10       Exec-managerial      Husband  Black    Male              80
55          Tech-support      Husband  White    Male              40
67          Adm-clerical         Wife  White  Female              40
68       Exec-managerial      Husband  White    Male              50
...                  ...          ...    ...     ...             ...
32462       Craft-repair      Husband  White    Male              50
32518       Craft-repair      Husband  White    Male              40
32519    Exec-managerial      Husband  White    Male              48
32557  Machine-op-inspct      Husband  White    Male              40
32560    Exec-managerial         Wife  White  Female              40

      native-country salary  salary K$  check_salary
7      United-States   >50K        307          True
10     United-States   >50K        116          True
55     United-States   >50K        341          True
67     United-States   >50K        225          True
68     United-States   >50K        194          True
...              ...    ...        ...           ...
32462  United-States   >50K        343          True
32518  United-States   >50K        116          True
32519  United-States   >50K        239          True
32557  United-States   >50K        173          True
32560  United-States   >50K        243          True

[3178 rows x 14 columns]

In [15]:
print("кількість людей без вищої освіти та із ЗП >50K -", len(without_education), "осіб")

кількість людей без вищої освіти та із ЗП >50K - 3178 осіб

## ***6.***


***Отримай статистику віку для кожного виду освіти. Використовуй groupby і describe для цього.***

In [16]:
grouped_by_education_age = df.groupby("education")["age"].describe().T

In [17]:
grouped_by_education_age

education,10th,11th,12th,1st-4th,5th-6th,7th-8th,9th,Assoc-acdm,Assoc-voc,Bachelors,Doctorate,HS-grad,Masters,Preschool,Prof-school,Some-college
count,820.000000,1048.000000,377.000000,151.000000,288.000000,557.000000,455.000000,1008.000000,1307.000000,5044.000000,375.000000,9840.000000,1627.000000,45.000000,542.000000,6678.000000
mean,37.897561,32.363550,32.013263,44.622517,41.649306,47.631957,40.303297,37.286706,38.246366,38.641554,47.130667,38.640955,43.740012,41.288889,44.249077,36.135370
std,16.225795,15.089307,14.373710,14.929051,14.754622,15.737479,15.335754,10.509755,11.181253,11.577566,11.471727,13.067730,10.735356,15.175672,11.428098,13.073528
min,17.000000,17.000000,17.000000,19.000000,17.000000,17.000000,17.000000,19.000000,19.000000,19.000000,24.000000,17.000000,18.000000,19.000000,25.000000,17.000000
25%,23.000000,18.000000,19.000000,33.000000,28.000000,34.000000,28.000000,29.000000,30.000000,29.000000,39.000000,28.000000,36.000000,30.000000,36.000000,25.000000
50%,36.000000,28.500000,28.000000,44.000000,41.000000,49.000000,38.000000,36.000000,37.000000,37.000000,47.000000,37.000000,43.000000,40.000000,43.000000,35.000000
75%,52.000000,43.000000,41.000000,56.000000,53.000000,60.000000,53.000000,44.000000,45.000000,46.000000,54.000000,48.000000,50.000000,53.000000,50.000000,45.000000
max,90.000000,90.000000,79.000000,81.000000,82.000000,90.000000,90.000000,90.000000,84.000000,90.000000,80.000000,90.000000,90.000000,75.000000,90.000000,90.000000

# ***7.***

***Порівняй зарплати одружених і неодружених чоловіків. Хто заробляє більше? (> 50K або < = 50K) Одружені чоловіки — це ті, у кого marital-status починається з Married. Інші — не одружені.***

In [18]:
m = df["marital-status"].unique()
m

array(['Never-married', 'Married-civ-spouse', 'Divorced',
       'Married-spouse-absent', 'Separated', 'Married-AF-spouse',
       'Widowed'], dtype=object)

In [19]:
male = df["sex"] == "Male"

In [20]:
married = df["marital-status"].str.startswith("Married")

In [21]:
married_man = df[male & married]
unmarried_man = df[male & ~ married]

print("Одружені чоловіки -", married_man["salary"].value_counts())
print("Неодружені чоловіки -", unmarried_man["salary"].value_counts())

Одружені чоловіки - salary
<=50K    7052
>50K     5723
Name: count, dtype: int64
Неодружені чоловіки - salary
<=50K    6932
>50K      673
Name: count, dtype: int64

# ***8.***

***Отримай максимальну кількість годин на тиждень, яку працює людина. Скільки людей працює стільки ж годин на тиждень?***

In [22]:
max_hours_per_week = df["hours-per-week"].max()
print("максимальна кількість годин на тиждень - ",max_hours_per_week)

максимальна кількість годин на тиждень -  99

In [23]:
people_hours = (df["hours-per-week"] == max_hours_per_week).sum()
print("Кількіст людей, які працюють максимальну кількість годин на тиждень -", people_hours)

Кількіст людей, які працюють максимальну кількість годин на тиждень - 78