In [1]:
import pandas as pd
import numpy as np

# ***1.***

***Прочитай набір даних із CSV-файлу та виконай очищення даних — видали усі рядки, які містять символ "?" у будь-яких стовпцях.***

In [2]:
from google.colab import files
uploaded = files.upload()

Saving adult.csv to adult (1).csv

In [3]:
filename = list(uploaded.keys())[0]
df = pd.read_csv(filename)

df.head()

,Unnamed: 0,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
0,0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K,39
1,1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K,35
2,2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K,27
3,3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K,43
4,4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K,25

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      32561 non-null  int64
 1   age             32561 non-null  int64
 2   workclass       32561 non-null  object
 3   education       32561 non-null  object
 4   marital-status  32561 non-null  object
 5   occupation      32561 non-null  object
 6   relationship    32561 non-null  object
 7   race            32561 non-null  object
 8   sex             32561 non-null  object
 9   hours-per-week  32561 non-null  int64
 10  native-country  32561 non-null  object
 11  salary          32561 non-null  object
 12  salary K$       32561 non-null  int64
dtypes: int64(4), object(9)
memory usage: 3.2+ MB

In [5]:
df.isin(["?"]).sum()

Unnamed: 0           0
age                  0
workclass         1836
education            0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
hours-per-week       0
native-country     583
salary               0
salary K$            0
dtype: int64

In [6]:
df = df.drop(df[df.isin(["?"]).any(axis=1)].index)

In [7]:
df.isin(["?"]).sum()

Unnamed: 0        0
age               0
workclass         0
education         0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
hours-per-week    0
native-country    0
salary            0
salary K$         0
dtype: int64

# ***2***

***Отримай середнє і стандартне відхилення віку для людей, які заробляють > 50K на рік. Після цього, отримай його для тих, хто заробляє <= 50K.***

In [8]:
mean_more_50 = df[df["salary"].str.contains(">50K")]['age'].mean()
print("середнє відхилення віку для людей, які заробляють >50K на рік:", round(mean_more_50, 2))
print("\n")

std_more_50 = df[df["salary"].str.contains(">50K")]['age'].std()
print("стандартне відхилення віку для людей, які заробляють >50K на рік:", round(std_more_50, 2))
print("\n")

mean_less_50 = df[df["salary"].str.contains("<=50K")]['age'].mean()
print("середнє відхилення віку для людей, які заробляють <=50K на рік:", round(mean_less_50, 2))
print("\n")

std_less_50 = df[df["salary"].str.contains("<=50K")]['age'].std()
print("стандартне відхилення віку для людей, які заробляють <=50K на рік:", round(std_less_50, 2))

середнє відхилення віку для людей, які заробляють >50K на рік: 43.96


стандартне відхилення віку для людей, які заробляють >50K на рік: 10.27


середнє відхилення віку для людей, які заробляють <=50K на рік: 36.61


стандартне відхилення віку для людей, які заробляють <=50K на рік: 13.46

# ***3.***

***Проаналізуй кореляцію між даними.***

In [9]:
corr_matrix = df[["age", "hours-per-week", "salary K$"]].corr()
print(corr_matrix)

                     age  hours-per-week  salary K$
age             1.000000        0.101599   0.208203
hours-per-week  0.101599        1.000000   0.196378
salary K$       0.208203        0.196378   1.000000

In [10]:
corr_with = corr_matrix["salary K$"]
corr_with

age               0.208203
hours-per-week    0.196378
salary K$         1.000000
Name: salary K$, dtype: float64