In [1]:
import pandas as pd

In [7]:
products = {
    "product_id": [1, 2, 3, 4],
    "product_name": ["Laptop", "Tablet", "Smartphone", "Smartwatch"],
    "category": ["Electronics", "Electronics", "Electronics", "Wearables"],
    "price": [1200, 300, 800, 250],
}

df_products = pd.DataFrame(products)
print(df_products)

   product_id product_name     category  price
0           1       Laptop  Electronics   1200
1           2       Tablet  Electronics    300
2           3   Smartphone  Electronics    800
3           4   Smartwatch    Wearables    250

In [3]:
order_details = {
    "order_id": [101, 102, 103, 104, 105, 106, 107],
    "product_id": [2, 2, 1, 2, 4, 1, 5],
    "customer_id": [201, 202, 202, 204, 203, 201, 202],
    "quantity": [1, 2, 1, 3, 2, 2, 4],
}

df_order_details = pd.DataFrame(order_details)
print(df_order_details)

   order_id  product_id  customer_id  quantity
0       101           2          201         1
1       102           2          202         2
2       103           1          202         1
3       104           2          204         3
4       105           4          203         2
5       106           1          201         2
6       107           5          202         4

# ***1.***

***Виконай INNER JOIN між таблицею замовлень та продуктів на основі product_id. Які продукти були замовлені? Запиши відповідь у текстовому блоці..***

In [8]:
inner_join = pd.merge(df_products, df_order_details, on="product_id", how="inner")
print(inner_join)

   product_id product_name     category  price  order_id  customer_id  \
0           1       Laptop  Electronics   1200       103          202
1           1       Laptop  Electronics   1200       106          201
2           2       Tablet  Electronics    300       101          201
3           2       Tablet  Electronics    300       102          202
4           2       Tablet  Electronics    300       104          204
5           4   Smartwatch    Wearables    250       105          203

   quantity
0         1
1         2
2         1
3         2
4         3
5         2

***Laptop, Tablet, Smartphone***

# ***2.***


***Виконай LEFT JOIN між таблицею замовлень та продуктів. Які продукти не були замовлені? Запиши відповідь у текстовому блоці..***

In [9]:
left_join = pd.merge(df_products, df_order_details, on="product_id", how="left")
print(left_join)

   product_id product_name     category  price  order_id  customer_id  \
0           1       Laptop  Electronics   1200     103.0        202.0
1           1       Laptop  Electronics   1200     106.0        201.0
2           2       Tablet  Electronics    300     101.0        201.0
3           2       Tablet  Electronics    300     102.0        202.0
4           2       Tablet  Electronics    300     104.0        204.0
5           3   Smartphone  Electronics    800       NaN          NaN
6           4   Smartwatch    Wearables    250     105.0        203.0

   quantity
0       1.0
1       2.0
2       1.0
3       2.0
4       3.0
5       NaN
6       2.0

***Smartphone***

# ***3.***


***Виконай OUTER JOIN між таблицею замовлень та продуктів. Якого ID продукту не вистачає у таблиці продуктів? Запиши відповідь у текстовому блоці.***

In [10]:
outer_join = pd.merge(df_products, df_order_details, on="product_id", how="outer")
print(outer_join)

   product_id product_name     category   price  order_id  customer_id  \
0           1       Laptop  Electronics  1200.0     103.0        202.0
1           1       Laptop  Electronics  1200.0     106.0        201.0
2           2       Tablet  Electronics   300.0     101.0        201.0
3           2       Tablet  Electronics   300.0     102.0        202.0
4           2       Tablet  Electronics   300.0     104.0        204.0
5           3   Smartphone  Electronics   800.0       NaN          NaN
6           4   Smartwatch    Wearables   250.0     105.0        203.0
7           5          NaN          NaN     NaN     107.0        202.0

   quantity
0       1.0
1       2.0
2       1.0
3       2.0
4       3.0
5       NaN
6       2.0
7       4.0

***5***