In [1]:
import pandas as pd

In [2]:
import pandas as pd

# Creating a DataFrame with employee data
employee_data = {
    "employee_id": [101, 102, 103, 104, 105],
    "name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "department": ["HR", "IT", "Finance", "Marketing", "IT"],
    "salary": [50000, 60000, 55000, 70000, 65000],
    "years_of_experience": [5, 7, 4, 10, 6]
}

df = pd.DataFrame(employee_data)
print(df)

   employee_id     name department  salary  years_of_experience
0          101    Alice         HR   50000                    5
1          102      Bob         IT   60000                    7
2          103  Charlie    Finance   55000                    4
3          104    David  Marketing   70000                   10
4          105      Eve         IT   65000                    6

# ***1.***

***Зарплата від найменшої до найбільшої.***

In [3]:
salary_min_max = df.sort_values(by="salary")
salary_min_max

   employee_id     name department  salary  years_of_experience
0          101    Alice         HR   50000                    5
2          103  Charlie    Finance   55000                    4
1          102      Bob         IT   60000                    7
4          105      Eve         IT   65000                    6
3          104    David  Marketing   70000                   10

# ***2.***


***Дані за досвідом роботи у порядку спадання.***

In [4]:
years_of_experience = df.sort_values(by="years_of_experience", ascending=False)
years_of_experience

   employee_id     name department  salary  years_of_experience
3          104    David  Marketing   70000                   10
1          102      Bob         IT   60000                    7
4          105      Eve         IT   65000                    6
0          101    Alice         HR   50000                    5
2          103  Charlie    Finance   55000                    4

# ***3.***


***Дані спочатку за департаментом у зростаючому порядку, а потім за зарплатою у порядку спадання.***

In [5]:
department_salary = df.sort_values(by=["department", "salary"], ascending=[True, False])
department_salary

   employee_id     name department  salary  years_of_experience
2          103  Charlie    Finance   55000                    4
0          101    Alice         HR   50000                    5
4          105      Eve         IT   65000                    6
1          102      Bob         IT   60000                    7
3          104    David  Marketing   70000                   10