In [1]:
import pandas as pd

In [2]:
import pandas as pd

# Creating a DataFrame with sample e-commerce data
data = {
    "order_id": [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    "product_name": [
        "Laptop",
        "Smartphone",
        "Laptop",
        "Tablet",
        "Smartphone",
        "Tablet",
        "Smartwatch",
        "Laptop",
        "Headphones",
        "Smartwatch",
    ],
    "category": [
        "Electronics",
        "Electronics",
        "Electronics",
        "Electronics",
        "Electronics",
        "Electronics",
        "Wearables",
        "Electronics",
        "Accessories",
        "Wearables",
    ],
    "customer_region": [
        "North",
        "South",
        "East",
        "North",
        "West",
        "South",
        "East",
        "West",
        "North",
        "West",
    ],
    "sales": [1200, 800, 1500, 500, 850, 400, 300, 1300, 150, 350],
}

df = pd.DataFrame(data)
print(df)

   order_id product_name     category customer_region  sales
0       101       Laptop  Electronics           North   1200
1       102   Smartphone  Electronics           South    800
2       103       Laptop  Electronics            East   1500
3       104       Tablet  Electronics           North    500
4       105   Smartphone  Electronics            West    850
5       106       Tablet  Electronics           South    400
6       107   Smartwatch    Wearables            East    300
7       108       Laptop  Electronics            West   1300
8       109   Headphones  Accessories           North    150
9       110   Smartwatch    Wearables            West    350

# ***1.***

***Загальна сума продажів для кожної категорії продукції.***

In [3]:
total_sum_by_category =df.groupby("category")["sales"].sum().reset_index()
total_sum_by_category

      category  sales
0  Accessories    150
1  Electronics   6550
2    Wearables    650

# ***2.***


***Середні продажі по кожному регіону у порядку спадання.***

In [4]:
mean_sales_by_region =df.groupby("customer_region")["sales"].mean().sort_values(ascending=False).reset_index()
mean_sales_by_region

  customer_region       sales
0            East  900.000000
1            West  833.333333
2           North  616.666667
3           South  600.000000

# ***3.***


***Cередні продажі по кожному продукту в розрізі регіонів.***

In [5]:
mean_sales_by_region_product =df.groupby(["customer_region","product_name"])["sales"].mean().reset_index()
mean_sales_by_region_product

  customer_region product_name   sales
0            East       Laptop  1500.0
1            East   Smartwatch   300.0
2           North   Headphones   150.0
3           North       Laptop  1200.0
4           North       Tablet   500.0
5           South   Smartphone   800.0
6           South       Tablet   400.0
7            West       Laptop  1300.0
8            West   Smartphone   850.0
9            West   Smartwatch   350.0

# **4.**

***Максимальні та мінімальні продажі у кожному регіоні***

In [6]:
max_min_sales_by_region =df.groupby("customer_region")["sales"].agg(["max", "min"]).reset_index()
max_min_sales_by_region

  customer_region   max  min
0            East  1500  300
1           North  1200  150
2           South   800  400
3            West  1300  350